* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * ::before,
  * ::after {
    box-sizing: border-box; }

@keyframes xMove {
  0% {
    transform: translateX(0) scale(1); }
  50% {
    transform: translateX(26px) scale(1.5); }
  100% {
    transform: translateX(52px) scale(1); } }
@keyframes xMove2 {
  0% {
    transform: translateX(0);
    opacity: 1; }
  50% {
    transform: translateX(-26px);
    opacity: 0; }
  100% {
    transform: translateX(-52px);
    opacity: 1; } }
@keyframes icon2-move {
  0% {
    transform: scale(0);
    opacity: 0; }
  20% {
    transform: scale(1);
    opacity: 1; }
  80% {
    transform: translateX(40px) scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }
@keyframes icon3-move {
  to {
    transform: translateX(40px); } }
@keyframes iocn4-scale {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.5); } }
@keyframes iocn5-move {
  from {
    transform: translateY(-10px); }
  to {
    transform: translateY(0); } }
@keyframes icon6 {
  to {
    height: 20px; } }
@keyframes icon7 {
  from {
    box-shadow: 0 0 0 1px inset; }
  to {
    box-shadow: 0 0 0 6px inset; } }
@keyframes icon8 {
  from {
    background: #ff467f;
    transform: scale(1); }
  to {
    background: #ffc571;
    transform: scale(0.5); } }
@keyframes icon9 {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
@keyframes icon10 {
  to {
    transform: rotate(360deg); } }
@keyframes icon11 {
  to {
    transform: rotate(360deg); } }
@keyframes icon12 {
  to {
    transform: rotate(360deg); } }
@keyframes icon12-height {
  to {
    height: 12px; } }
body {
  background: #5a2bf5; }

.wrapper {
  max-width: 900px;
  min-width: 768px;
  margin: 100px auto 0;
  padding: 0 40px; }
  @media (max-width: 420px) {
    .wrapper {
      min-width: 1rem;
      margin: 0.27rem auto 0;
      padding: 0 0.11rem; } }
  .wrapper main {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column; }
    .wrapper main h1 {
      font-size: 40px;
      text-align: center;
      color: white;
      margin-bottom: 60px;
      font-family: Verdana, Geneva, Microsoft YaHei, Microsoft JhengHei, Helvetica Neue, sans-serif;
      position: relative; }
      @media (max-width: 420px) {
        .wrapper main h1 {
          font-size: 0.11rem;
          margin-bottom: 0.10rem; } }
    .wrapper main h1::after {
      content: "";
      display: block;
      width: 150px;
      height: 30px;
      background: #ff467f;
      position: absolute;
      top: 30px;
      left: 50%;
      margin-left: -75px;
      z-index: -1; }
      @media (max-width: 420px) {
        .wrapper main h1::after {
          width: 0.4rem;
          height: 0.08rem;
          top: 0.22rem;
          margin-left: -0.2rem; } }
    .wrapper main .loading {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: normal;
      flex-wrap: wrap;
      margin-bottom: 140px; }
      @media (max-width: 420px) {
        .wrapper main .loading {
          display: flex;
          justify-content: normal;
          align-items: normal;
          margin-bottom: 0.20rem; } }
      .wrapper main .loading div {
        width: 88px;
        height: 88px;
        margin: 0 58px 40px; }
        @media (max-width: 420px) {
          .wrapper main .loading div {
            width: 0.23rem;
            height: 0.23rem;
            margin: 0 0.077rem 0.05rem; } }
        @media (max-width: 768px) and (min-width: 420px) {
          .wrapper main .loading div {
            width: 0.142rem;
            height: 0.142rem;
            margin: 0 0.078rem 0.05rem; } }
      .wrapper main .loading div:hover {
        background: #5326e9;
        border-radius: 8px; }
      @media (max-width: 420px) {
        .wrapper main .loading div {
          float: left; } }
      .wrapper main .loading .icon1 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon1 span {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 8px;
          background: #ffc571;
          border-radius: 100%; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon1 span {
              width: 0.032rem;
              height: 0.032rem;
              margin: 0.021rem; } }
        .wrapper main .loading .icon1 span:first-child,
        .wrapper main .loading .icon1 span:last-child {
          width: 8px;
          height: 8px; }
        .wrapper main .loading .icon1 span:first-child {
          animation: xMove .8s linear infinite;
          background: #ff8978; }
        .wrapper main .loading .icon1 span:last-child {
          animation: xMove2 .8s linear infinite;
          background: #ff467f; }
      .wrapper main .loading .icon2 {
        position: relative; }
        .wrapper main .loading .icon2 span {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 15px;
          background: #ffc571;
          border-radius: 100%;
          position: absolute;
          left: 0;
          top: 38px; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon2 span {
              width: 0.032rem;
              height: 0.032rem; } }
        .wrapper main .loading .icon2 span:nth-child(1) {
          animation: icon2-move 1s infinite ease-in-out;
          background: #ff8978; }
        .wrapper main .loading .icon2 span:nth-child(2) {
          animation: icon2-move 1s infinite -0.5s ease-in-out;
          background: #ff467f; }
      .wrapper main .loading .icon3 {
        position: relative; }
        .wrapper main .loading .icon3 span {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 15px;
          background: #ffc571;
          border-radius: 100%;
          position: absolute;
          left: 0;
          top: 38px; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon3 span {
              width: 0.032rem;
              height: 0.032rem;
              margin-left: 0.04rem; } }
        .wrapper main .loading .icon3 span:nth-child(1) {
          animation: icon3-move 1s infinite ease-in-out alternate;
          background: #ff8978; }
        .wrapper main .loading .icon3 span:nth-child(2) {
          animation: icon3-move 1s infinite -1s ease-in-out alternate;
          background: #ff467f; }
      .wrapper main .loading .icon4 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon4 span {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 8px;
          background: #ffc571;
          border-radius: 100%; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon4 span {
              width: 0.032rem;
              height: 0.032rem;
              margin: 0.021rem; } }
        .wrapper main .loading .icon4 span:nth-child(1) {
          animation: iocn4-scale 0.5s infinite ease-in-out alternate;
          background: #ff8978; }
        .wrapper main .loading .icon4 span:nth-child(2) {
          animation: iocn4-scale 0.5s infinite -0.25s ease-in-out alternate;
          background: #ff467f; }
        .wrapper main .loading .icon4 span:nth-child(3) {
          animation: iocn4-scale 0.5s infinite -0.375s ease-in-out alternate; }
      .wrapper main .loading .icon5 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon5 span {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 8px;
          background: #ffc571;
          border-radius: 100%; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon5 span {
              width: 0.032rem;
              height: 0.032rem;
              margin: 0.021rem; } }
        .wrapper main .loading .icon5 span:nth-child(1) {
          animation: iocn5-move 0.3s infinite ease-in alternate;
          background: #ff8978; }
        .wrapper main .loading .icon5 span:nth-child(2) {
          animation: iocn5-move 0.3s infinite -0.15s ease-in alternate;
          background: #ff467f; }
        .wrapper main .loading .icon5 span:nth-child(3) {
          animation: iocn5-move 0.3s infinite -0.23s ease-in alternate; }
      .wrapper main .loading .icon6 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon6 span {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 8px;
          background: #ffc571;
          border-radius: 6px; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon6 span {
              width: 0.032rem;
              height: 0.032rem;
              margin: 0.021rem;
              border-radius: 0.016rem; } }
        .wrapper main .loading .icon6 span:nth-child(1) {
          animation: icon6 .3s linear infinite alternate;
          background: #ff8978; }
        .wrapper main .loading .icon6 span:nth-child(2) {
          animation: icon6 .3s linear -0.3s infinite alternate;
          background: #ff467f; }
        .wrapper main .loading .icon6 span:nth-child(3) {
          animation: icon6 .3s linear -0.6s infinite alternate; }
      .wrapper main .loading .icon7 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon7 span {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin: 6px;
          border-radius: 100%; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon7 span {
              width: 0.037rem;
              height: 0.037rem;
              margin: 0.016rem; } }
        .wrapper main .loading .icon7 span:nth-child(1) {
          color: #ff8978;
          animation: icon7 .3s linear infinite alternate; }
        .wrapper main .loading .icon7 span:nth-child(2) {
          color: #ff467f;
          animation: icon7 .3s linear -0.3s infinite alternate; }
        .wrapper main .loading .icon7 span:nth-child(3) {
          color: #ffc571;
          animation: icon7 .3s linear -0.6s infinite alternate; }
      .wrapper main .loading .icon8 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon8 span {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: #ff467f;
          margin: 6px;
          border-radius: 100%;
          animation: icon8 1s linear infinite alternate; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon8 span {
              width: 0.053rem;
              height: 0.053rem;
              margin: 0.016rem; } }
      .wrapper main .loading .icon9 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon9 div {
          width: 40px;
          height: 40px;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          animation: icon9 1.5s ease-in-out infinite; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon9 div {
              width: 0.11rem;
              height: 0.11rem; } }
        .wrapper main .loading .icon9 span {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: #ff467f;
          border-radius: 100%; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon9 span {
              width: 0.037rem;
              height: 0.037rem; } }
        .wrapper main .loading .icon9 span:nth-child(1) {
          background: #ff8978; }
        .wrapper main .loading .icon9 span:nth-child(2) {
          background: #ff467f; }
        .wrapper main .loading .icon9 span:nth-child(3) {
          background: #4671ff; }
      .wrapper main .loading .icon10 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon10 div {
          position: relative;
          width: 36px;
          height: 36px;
          margin: 0;
          animation: icon10 2s linear infinite; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon10 div {
              width: 0.096rem;
              height: 0.096rem; } }
        .wrapper main .loading .icon10 span {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 100%; }
        .wrapper main .loading .icon10 span::before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background: #ccc;
          border-radius: 100%;
          background: #ff467f; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon10 span::before {
              width: 0.021rem;
              height: 0.021rem; } }
        .wrapper main .loading .icon10 span:nth-child(2) {
          transform: rotate(51.4deg); }
        .wrapper main .loading .icon10 span:nth-child(3) {
          transform: rotate(102.8deg); }
        .wrapper main .loading .icon10 span:nth-child(4) {
          transform: rotate(154.2deg); }
        .wrapper main .loading .icon10 span:nth-child(5) {
          transform: rotate(205.6deg); }
        .wrapper main .loading .icon10 span:nth-child(6) {
          transform: rotate(257deg); }
        .wrapper main .loading .icon10 span:nth-child(7) {
          transform: rotate(308.4deg); }
        .wrapper main .loading .icon10 span:nth-child(8) {
          transform: rotate(315deg); }
      .wrapper main .loading .icon11 div {
        width: 100%;
        height: 100%;
        margin: 0;
        animation: icon11 2s ease-in-out -1s infinite;
        display: flex;
        justify-content: center;
        align-items: center; }
      .wrapper main .loading .icon11 span {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        box-sizing: border-box;
        border: 12.5px solid;
        border-top-color: #ff467f;
        border-right-color: #ff467f;
        border-bottom-color: #ff8978;
        border-left-color: #ff8978;
        position: relative; }
        @media (max-width: 420px) {
          .wrapper main .loading .icon11 span {
            width: 0.14rem;
            height: 0.14rem;
            border: 0.035rem solid;
            border-top-color: #ff467f;
            border-right-color: #ff467f;
            border-bottom-color: #ff8978;
            border-left-color: #ff8978; } }
      .wrapper main .loading .icon11 span::before {
        content: "";
        display: block;
        width: 12.5px;
        height: 12.5px;
        background: #ff467f;
        border-radius: 100%;
        position: absolute;
        top: -5.5555555556px;
        left: -7.6923076923px; }
        @media (max-width: 420px) {
          .wrapper main .loading .icon11 span::before {
            width: 0.035rem;
            height: 0.035rem;
            top: -0.0155555556rem;
            left: -0.0215384615rem; } }
      .wrapper main .loading .icon11 span::after {
        content: "";
        display: block;
        width: 12.5px;
        height: 12.5px;
        background: #ff8978;
        border-radius: 100%;
        position: absolute;
        bottom: -5.5555555556px;
        right: -7.6923076923px; }
        @media (max-width: 420px) {
          .wrapper main .loading .icon11 span::after {
            width: 0.035rem;
            height: 0.035rem;
            bottom: -0.0155555556rem;
            right: -0.0215384615rem; } }
      .wrapper main .loading .icon12 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper main .loading .icon12 div {
          animation: icon12 3s linear -1s infinite;
          position: relative;
          width: 36px;
          height: 36px;
          margin: 0; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon12 div {
              width: 0.096rem;
              height: 0.096rem; } }
        .wrapper main .loading .icon12 span {
          animation: icon12 2s linear -1s infinite;
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 100%; }
        .wrapper main .loading .icon12 span::before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background: #ccc;
          border-radius: 4px;
          background: #ff467f; }
          @media (max-width: 420px) {
            .wrapper main .loading .icon12 span::before {
              width: 0.021rem;
              height: 0.021rem; } }
        .wrapper main .loading .icon12 span:nth-child(2) {
          transform: rotate(72deg); }
        .wrapper main .loading .icon12 span:nth-child(3) {
          transform: rotate(144deg); }
        .wrapper main .loading .icon12 span:nth-child(4) {
          transform: rotate(216deg); }
        .wrapper main .loading .icon12 span:nth-child(5) {
          transform: rotate(288deg); }
    .wrapper main .btn {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: normal;
      flex-wrap: wrap;
      margin-bottom: 140px; }
      .wrapper main .btn > div {
        width: 120px;
        height: 34.2857142857px; }
      .wrapper main .btn .btn1 {
        background: #ff8978;
        border-radius: 17.1428571429px;
        box-shadow: 0 8px 8px rgba(223, 63, 14, 0.315);
        transition: background 0.4s ease-in-out;
        color: white;
        font-size: 14px;
        text-align: center;
        line-height: 34.2857142857px;
        position: relative;
        z-index: 0; }
        .wrapper main .btn .btn1 div {
          width: 120px;
          height: 34.2857142857px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1; }
@keyframes btn1 {
  from {
    width: 0; }
  to {
    width: 100%;
    background: #ec3b70; } }
        .wrapper main .btn .btn1 div:focus {
          z-index: -1;
          animation: btn1 0.4s ease-in-out forwards; }
      .wrapper main .btn .btn1:hover {
        background: #ff467f;
        box-shadow: none; }

/*# sourceMappingURL=style.css.map */
